/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@keyframes arrowBounce {
    0% {
        transform: translateX(0);
    }

    60% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0px);
    }
}

.group:hover .arrow-animate {
    animation: arrowBounce 0.9s ease-in-out infinite;
}